<div class="border-bottom ribbon-menu-minheight d-flex flex-row">
    <div class="border-end d-flex flex-row p-2 justify-content-between" style="width: 15%">
        <button class="ribbonBtn border-0 bg-white-color d-flex flex-column justify-content-start">
            <img src="./images/feedback.png" width="40" height="50" />
            Diagram Image
        </button>
        <button class="border-0 bg-white-color d-flex flex-column justify-content-start">
            <img src="./images/feedback.png" width="40" height="50" />
            Excel
        </button>
        <button class="ribbonBtn border-0 bg-white-color d-flex flex-column justify-content-start">
            <img src="./images/feedback.png" width="40" height="50" />
            PDF
        </button>
    </div>
    <div></div>
</div>


@code {

}
