@page "/notfound"

<PageTitle>Not Found</PageTitle>

<h1 class="text-danger">Not Found.</h1>
<h2 class="text-danger">The information you are looking for, is not found!</h2>

<div class="m-5">
    <a href="/">Back to Home</a>
</div>

@code
{
    public const string PageUrl = "/notfound";
}
