$primary-color: #006bb7;
$secondary-color: #f0f0f0;
$tertiary-color: #f0f0f0;

$primary-text-color: #333;
$secondary-text-color: #333;
$tertiary-text-color: #333;

$primary-btn-color: hsla(212, 100%, 40%, 1);
$primary-btn-border-color: hsla(212, 100%, 40%, 1);

$focus-shadow-color: hsla(212, 100%, 40%, 0.25);
$valid-outline-color: hsla(212, 100%, 40%, 1);
$invalid-outline-color: hsla(0, 100%, 50%, 1);
$error-color: #e50000;

$header-background-color: #006bb7;
$header-text-color: #fff;

$success-color: #26b050;
$warning-color: #f0ad4e;
$danger-color: #e50000;
$info-color: #5bc0de;

$main-call-to-action-color: #006bb7;
$main-call-to-action-border-color: #006bb7;
   
$color-1: hsla(225, 59%, 34%, 1);
$color-2: white;
$color-3: hsla(219, 34%, 62%, 1);
$color-4: hsla(217, 13%, 69%, 1);
$color-5: hsla(0, 0%, 100%, 1);
$color-6: hsla(212, 100%, 40%, 1);
$color-7: hsla(27, 100%, 71%, 1);
$color-8: #aaa;
$color-9: hsla(225, 59%, 39%, 1);
$color-10: #5796a6;
$color-11: #03617a;
$color-12: #7c7c7c;
$color-13: #03618c;
$color-14: #6a4b14 ;

$background-color-1: hsla(0, 0%, 100%, 1);
$background-color-2: hsla(300, 11%, 98%, 1);
$background-color-3: hsla(212, 100%, 40%, 1);
$background-color-4: hsla(225, 59%, 39%, 1);
$background-color-5: hsla(74, 68%, 95%, 1);
$background-color-6: hsla(204, 77%, 96%, 1);
$background-color-7: transparent;
$background-color-8: #d7e3e3;
$background-color-9: #1c435c;
$background-color-10: #f3f7fa;
$background-color-11: #f5f5f5;
$background-color-12: #d6d6d6;
$background-color-13: #fedd72;
$background-color-14: #dae4e5;
$background-color-15: #307d91 ;
$background-color-16: #b8d3d9;
$background-color-17: #7afb7a ;

$border-color-1: #929292;
$border-color-2: hsla(212, 100%, 40%, 1);
$border-color-3: hsla(26, 100%, 86%, 1);
$border-color-4: hsla(225, 59%, 34%, 1);
$border-color-5: hsla(211, 100%, 90%, 1);
$border-color-6: #cfddde;
$border-color-7: #00b1b3;
$border-color-8: gray;
$border-color-9: #bee8db;
$border-color-10: #c1d3d5 ;

$font-color-hover: hsla(225, 59%, 34%, 1) ;

$font-color-default: hsla(219, 34%, 62%, 1) ;

$linear-1: linear-gradient(0deg, rgba(25,127,146,1) 0%, rgba(6,154,171,1) 50%, rgba(6,154,171,1) 100%);
$linear-2: linear-gradient(0deg, rgba(28,135,154,1) 0%, rgba(15,191,208,1) 75%, rgba(15,191,208,1) 100%) ;

$fonts-InterVariable: 'Inter var', Arial, sans-serif;